.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Contenedor del carrito (lista de productos) */
.cart {
    flex-grow: 1;  /* Ocupa todo el espacio disponible */
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    height: 50vh;
}


  /* Scroll personalizado */
.cart::-webkit-scrollbar {
    width: 10px; /* Grosor del scroll */
}

.cart::-webkit-scrollbar-track {
    background: #f5f5f5; /* Color del fondo del scroll */
    border-radius: 10px;
}

.cart::-webkit-scrollbar-thumb {
    background: #0741DD; /* Color naranja del scroll */
    border-radius: 10px;
    border: 2px solid #f5f5f5; /* Borde del scroll para hacerlo más delgado */
}

.cart::-webkit-scrollbar-thumb:hover {
    background: #0741DD; /* Un tono más oscuro al hacer hover */
}

/* Estilos para la lista */
.cart-list {
    flex-grow: 1;
}

/* Estilo de los ítems */
.cart-item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0 !important;
}

/* Botón de eliminar */
.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0741DD;
    transition: color 0.2s ease-in-out;
}

.remove-button:hover {
    color: #d94e04;
}

/* Pie del carrito */
.cart-footer {
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: column;
    background: white;
}

/* Espaciado del total */
.total-container {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
}

.total-label {
    font-size: 18px;
}

/* Estilo del monto */
.total-amount {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Estilo de los botones de cantidad */
.quantity-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 10px;
}

.cart-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}