.table-component {
  height: 90%;
  width: 85% !important;
  margin: auto;
}

.universal-table {
  width: 100%;
  border-collapse: collapse;
  flex-grow: 1; /* La tabla ocupa el espacio restante */
  overflow-y: auto; /* Agrega scroll si la tabla es muy larga */
}


.universal-table th,
.universal-table td {
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  max-height: 50px; /* Altura máxima de las filas */
  overflow: hidden; /* Oculta el contenido que excede la altura */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-size: 12px;
  color: #333 !important;
}

.universal-table thead{
  height: 70px;
}

.universal-table tbody{
  height: fit-content;
}

.universal-table tbody tr {
  height: calc((100% / 15) - 80px);
  min-height: 30px; /* Evita que las filas sean demasiado pequeñas */
  max-height: 50px; /* Altura máxima para mantener uniformidad */
}

.universal-table tbody tr:hover {
  cursor: pointer;
}





/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination li.disabled a {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination li a{
  color: #F25C05;
}

.pagination li.active a{
  background: #F25C05;
  border-color: #F25C05;
}